<footer class="flex flex-col gap-6 md:gap-16 px-4 md:px-12">
  <div class="w-full h-[2px] bg-gray rounded-full"></div>

  <div class="flex flex-col md:flex-row gap-6 md:gap-10">
    <div class="lg:w-1/4 w-full">
      <a routerLink="/" class="text-secondary">
        <img
          class="w-12 md:w-16"
          src="assets/images/icon.svg"
          alt="CropCare icon"
        />
      </a>
    </div>
    <div class="lg:w-1/4 w-full">
      <ul class="flex flex-col gap-2">
        <li>
          <a class="text-gray-dark hover:text-secondary" routerLink="/">
            Home
          </a>
        </li>
        <li>
          <a class="text-gray-dark hover:text-secondary" routerLink="/about">
            About
          </a>
        </li>
        <li>
          <a class="text-gray-dark hover:text-secondary" routerLink="/features">
            Features
          </a>
        </li>
        <li>
          <a class="text-gray-dark hover:text-secondary" routerLink="/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
    <div class="lg:w-1/4 w-full">
      <ul class="flex flex-col gap-2">
        <li>
          <a
            class="text-gray-dark hover:text-secondary"
            href="https://www.linkedin.com/in/mohamed-rabie-/"
            target="_blank"
          >
            LinkedIn
          </a>
        </li>
        <li>
          <a
            class="text-gray-dark hover:text-secondary"
            href="https://www.facebook.com/"
            target="_blank"
          >
            Facebook
          </a>
        </li>
        <li>
          <a
            class="text-gray-dark hover:text-secondary"
            href="https://www.instagram.com/"
            target="_blank"
          >
            Instagram
          </a>
        </li>
      </ul>
    </div>
    <div class="lg:w-1/4 w-full">
      <a
        href="mailto:mohamed.rabie.abdelhameed@gmail.com"
        class="text-gray-dark hover:text-secondary text-lg"
      >
        info&#64;cropcare.com
      </a>
    </div>
  </div>

  <div class="flex flex-col md:flex-row md:justify-between gap-2 text-lg">
    <p class="text-gray-dark">Copyright &copy; CropCare 2024</p>
    <ul class="flex flex-col md:flex-row gap-2 md:gap-8">
      <li>
        <a
          class="text-gray-dark hover:text-secondary"
          routerLink="/privacy-policy"
        >
          Privacy Policy
        </a>
      </li>
      <li>
        <a
          class="text-gray-dark hover:text-secondary"
          routerLink="/terms-of-service"
        >
          Terms of Service
        </a>
      </li>
    </ul>
  </div>

  <img src="assets/images/logo-text.svg" alt="CropCare text logo" />
</footer>
