.range {
  width: 100%;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #124734;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .range::-webkit-slider-thumb{
    width: 0.75rem;
    height: 0.75rem;
  }
}